/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hrl: hrl {
            compatible = "zmk,behavior-hold-tap";
            label = "HRL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <39 30 18 6 7 19 31 32 20 8 9 21 33 34 22 10 11 23 35 36 38 40 41>;
        };

        hrr: hrr {
            compatible = "zmk,behavior-hold-tap";
            label = "HRR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <230>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 17 16 15 14 13 12 24 25 26 27 28 29 38 37 36>;
        };

        shiftsk: shiftsk {
            compatible = "zmk,behavior-sticky-key";
            label = "SHIFTSK";
            bindings = <&kp>;
            #binding-cells = <1>;
            quick-release;
            release-after-ms = <2000>;
            ignore-modifiers;
        };

        hrm_sk: hrm_sk {
            compatible = "zmk,behavior-sticky-key";
            label = "HRM_SK";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <5000>;
            quick-release;
            ignore-modifiers;
        };

        magicshift: magicshift {
            compatible = "zmk,behavior-mod-morph";
            label = "MAGICSHIFT";
            bindings = <&shiftsk LEFT_SHIFT>, <&caps_word>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_LSFT|MOD_LALT|MOD_LGUI)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        LeftBracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <31 32>;
        };

        RightBracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <32 33>;
        };

        LeftParen {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <19 20>;
        };

        RightParen {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <20 21>;
        };

        Copy {
            bindings = <&kp LG(C)>;
            key-positions = <26 27>;
        };

        Paste {
            bindings = <&kp LG(V)>;
            key-positions = <27 28>;
        };

        Cut {
            bindings = <&kp LG(X)>;
            key-positions = <26 28>;
        };

        Hash {
            bindings = <&kp HASH>;
            key-positions = <3 15>;
        };

        Percent {
            bindings = <&kp PERCENT>;
            key-positions = <5 17>;
        };

        Dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <4 16>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB      &kp Q          &kp Y         &kp O                       &kp U            &kp EQUAL      &kp X            &kp L             &kp D             &kp P         &kp Z               &kp LC(C)
&kp B        &hrl LSHIFT C  &hrl LCTRL I  &hrl LEFT_ALT A             &hrl LEFT_GUI E  &kp MINUS      &kp K            &hrr RIGHT_GUI H  &hrr RIGHT_ALT T  &hrr RCTRL N  &hrr RIGHT_SHIFT S  &kp W
&lt 2 GRAVE  &kp APOS       &kp COMMA     &kp DOT                     &kp SEMI         &kp FSLH       &kp J            &kp M             &kp G             &kp F         &kp V               &lt 2 AMPERSAND
                                          &sk LA(LC(LG(LEFT_SHIFT)))  &lt 1 RETURN     &lt 3 SPACE    &lt 3 BACKSPACE  &kp R             &gresc
            >;
        };

        Numbers {
            bindings = <
&trans  &trans  &kp N7  &kp N8    &kp N9  &trans    &trans  &kp N7  &kp N8  &kp N9  &trans     &trans
&trans  &kp N0  &kp N4  &kp N5    &kp N6  &trans    &trans  &kp N4  &kp N5  &kp N6  &trans     &trans
&trans  &trans  &kp N1  &kp N2    &kp N3  &trans    &trans  &kp N1  &kp N2  &kp N3  &kp ENTER  &trans
                        &kp CAPS  &trans  &trans    &trans  &kp N0  &trans
            >;
        };

        Fn {
            bindings = <
&trans  &trans  &kp F7  &kp F8  &kp F9  &kp F10    &trans             &kp C_NEXT  &trans  &kp C_PP  &trans  &trans
&trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11    &kp C_VOLUME_UP    &kp C_PREV  &trans  &trans    &trans  &trans
&trans  &trans  &kp F1  &kp F2  &kp F3  &kp F12    &kp C_VOLUME_DOWN  &kp K_MUTE  &trans  &trans    &trans  &trans
                        &trans  &trans  &trans     &kp DELETE         &trans      &trans
            >;
        };

        Navigation {
            bindings = <
&kp EXCL   &kp LEFT_BRACKET  &kp LBRC   &kp RBRC        &kp RIGHT_BRACKET  &kp QMARK       &trans          &kp RIGHT_ARROW    &trans                &trans                 &trans         &trans
&kp HASH   &kp CARET         &kp EQUAL  &kp UNDERSCORE  &kp DOLLAR         &kp ASTERISK    &kp UP_ARROW    &kp LEFT_ARROW     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans         &trans
&kp TILDE  &kp LESS_THAN     &kp PIPE   &kp MINUS       &kp GREATER_THAN   &kp PLUS        &kp DOWN_ARROW  &kp DOUBLE_QUOTES  &kp SQT               &kp GRAVE              &kp BACKSLASH  &trans
                                        &kp PERCENT     &kp COLON          &kp AT_SIGN     &trans          &trans             &trans
            >;
        };
    };
};
